<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snake_main-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{28,465},{12,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{27,493},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{1,237},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{33,251},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{29,366},{2,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{34,201},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{35,1},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{35,105},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{1,189},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{1,105},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{61,380},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1,27},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{1,507},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{1,263},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{33,277},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{29,366},{2,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{34,226},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{35,27},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{35,129},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{1,201},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{1,126},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{1,479},{12,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{26,509},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{1,366},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{1,523},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{1,388},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{28,423},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{25,574},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{1,437},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{26,557},{15,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{27,479},{12,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{26,525},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{1,539},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{29,380},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{1,409},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{28,437},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{18,591},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{1,451},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{51,532},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{57,380},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1,53},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{1,289},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{33,303},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{29,366},{2,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{1,341},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,15}</string>
                <key>spriteSourceSize</key>
                <string>{14,15}</string>
                <key>textureRect</key>
                <string>{{1,588},{14,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{35,53},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{35,153},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{1,213},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{1,147},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{61,380},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1,79},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{1,315},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{30,24}</string>
                <key>textureRect</key>
                <string>{{33,329},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,1}</string>
                <key>spriteSourceSize</key>
                <string>{2,1}</string>
                <key>textureRect</key>
                <string>{{29,366},{2,1}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{32,355},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{1,423},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{35,79},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,22}</string>
                <key>textureRect</key>
                <string>{{35,177},{28,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,10}</string>
                <key>spriteSourceSize</key>
                <string>{31,10}</string>
                <key>textureRect</key>
                <string>{{1,225},{31,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,19}</string>
                <key>spriteSourceSize</key>
                <string>{32,19}</string>
                <key>textureRect</key>
                <string>{{1,168},{32,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,24}</string>
                <key>spriteSourceSize</key>
                <string>{12,24}</string>
                <key>textureRect</key>
                <string>{{1,493},{12,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{26,541},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{1,555},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{19,26}</string>
                <key>textureRect</key>
                <string>{{29,402},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{28,451},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,15}</string>
                <key>spriteSourceSize</key>
                <string>{17,15}</string>
                <key>textureRect</key>
                <string>{{44,574},{17,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,21}</string>
                <key>spriteSourceSize</key>
                <string>{12,21}</string>
                <key>textureRect</key>
                <string>{{51,509},{12,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,25}</string>
                <key>spriteSourceSize</key>
                <string>{12,25}</string>
                <key>textureRect</key>
                <string>{{1,465},{12,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,22}</string>
                <key>spriteSourceSize</key>
                <string>{15,22}</string>
                <key>textureRect</key>
                <string>{{1,571},{15,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snake_main-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,2}</string>
                <key>spriteSourceSize</key>
                <string>{2,2}</string>
                <key>textureRect</key>
                <string>{{57,380},{2,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snake_main-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,24}</string>
                <key>spriteSourceSize</key>
                <string>{32,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>snake.png</string>
            <key>size</key>
            <string>{64,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:990d7d63f2447ebe6ee40e291c7ff0a2:1e9ba6eda3d1a2406f5f06eeb6bd0c27:34ac0ef24d898e022557dce22e67e8d3$</string>
            <key>textureFileName</key>
            <string>snake.png</string>
        </dict>
    </dict>
</plist>
